html, body{
	font-family: 'Montserrat';
	margin: 0;
}
h1{
	text-align: center;
	font-size: 50px;
	margin: 20px 0px;
}
p#fraga{
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
}
p#antalRatt{
	text-align: center;
	font-weight: 700;
	font-size: 37px;
	margin-top: 30px;
}
.container{
	height: 80vh;
	width: 1000px;
	background-color: #f2f2f2;
	border-radius: 24px;
	margin-top: 40px;
	margin-bottom: 40px;
}
#gissa{
	text-align: center;
}
#gissa img{
	inline-size: 27rem;
	border-radius: 24px;
	margin: 0 auto;
	display: inline-block;
}
#svarsKnappar button{
	outline: none;
	border: none;
	border-radius: 12px;
	background-color: #1ebba3;
	color: #fff;
	padding: 12px 10px;
	cursor: pointer;
	width: 250px;
	height: 60px;
	margin: 20px 0px;
	transition: .5s;
}
#svarsKnappar button:hover{
	background-color: #11695c;
	transition: .5s;
}
#BackToTop{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid #fff;
	background-color: #1ebba3;
	color: #fff;
	inline-size: 5rem;
	position: relative;
	bottom: -50px;
	left: 740px;
	outline: none;
	cursor: pointer;
}
#correct{
	background-color: #1ebba3;
	outline: none;
	border: 2px solid #1ebba3;
	border-radius: 12px;
	color: #fff;
	padding: 6px;
	cursor: pointer;
	transition: .6s;
	position: relative;
	left: 445px;
	margin-top: 120px;
}
#correct:hover{
	background-color: #11695c;
	color: #fff;
	transition: .6s;
	border: 2px solid #fff;
}
.resultat{
	visibility: hidden;
}
/*Grid*/
.grid{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"btn_ett btn_tva"
	"btn_tre btn_fyra"
	;
}
#btn1{
	grid-area: btn_ett;
	justify-self: center;
}
#btn2{
	grid-area: btn_tva;
	justify-self: center;
}
#btn3{
	grid-area: btn_tre;
	justify-self: center;
}
#correctFraga1{
	grid-area: btn_fyra;
	justify-self: center;
}

.grid-2{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"btn_ett btn_tva"
	"btn_tre btn_fyra"
	;
}
#btn1{
	grid-area: btn_ett;
	justify-self: center;
}
#correctFraga2{
	grid-area: btn_tva;
	justify-self: center;
}
#btn3{
	grid-area: btn_tre;
	justify-self: center;
}
#btn4{
	grid-area: btn_fyra;
	justify-self: center;
}
.grid-3{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"btn_ett btn_tva"
	"btn_tre btn_fyra"
	;
}
#btn1{
	grid-area: btn_ett;
	justify-self: center;
}
#btn2{
	grid-area: btn_tva;
	justify-self: center;
}
#correctFraga3{
	grid-area: btn_tre;
	justify-self: center;
}
#btn4{
	grid-area: btn_fyra;
	justify-self: center;
}

.grid-4{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"btn_ett btn_tva"
	;
}
#correctFraga4{
	grid-area: btn_ett;
	justify-self: center;
}
#btn2{
	grid-area: btn_tva;
	justify-self: center;
}

.grid-5{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"btn_ett btn_tva btn_tre btn_fyra"
	;
}
#btn1{
	grid-area: btn_ett;
	justify-self: center;
}
#btn2{
	grid-area: btn_tva;
	justify-self: center;
}
#btn3{
	grid-area: btn_tre;
	justify-self: center;
}
#correctFraga5{
	grid-area: btn_fyra;
	justify-self: center;
}

.grid-6{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"btn_ett btn_tva btn_tre btn_fyra"
	;
}
#correctFraga6{
	grid-area: btn_ett;
	justify-self: center;
}
#btn2{
	grid-area: btn_tva;
	justify-self: center;
}
#btn3{
	grid-area: btn_tre;
	justify-self: center;
}
#btn4{
	grid-area: btn_fyra;
	justify-self: center;
}

.grid-7{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"btn_ett btn_tva btn_tre btn_fyra"
	;
}
#correctFraga7{
	grid-area: btn_ett;
	justify-self: center;
}
#btn2{
	grid-area: btn_tva;
	justify-self: center;
}
#btn3{
	grid-area: btn_tre;
	justify-self: center;
}
#btn4{
	grid-area: btn_fyra;
	justify-self: center;
}

.grid-8{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"btn_ett btn_tva btn_tre btn_fyra"
	;
}
#btn1{
	grid-area: btn_ett;
	justify-self: center;
}
#btn2{
	grid-area: btn_tva;
	justify-self: center;
}
#btn3{
	grid-area: btn_tre;
	justify-self: center;
}
#correctFraga8{
	grid-area: btn_fyra;
	justify-self: center;
}

.grid-9{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"btn_ett btn_tva btn_tre btn_fyra"
	;
}
#btn1{
	grid-area: btn_ett;
	justify-self: center;
}
#correctFraga9{
	grid-area: btn_tva;
	justify-self: center;
}
#btn3{
	grid-area: btn_tre;
	justify-self: center;
}
#btn4{
	grid-area: btn_fyra;
	justify-self: center;
}

.grid-10{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"btn_ett btn_tva btn_tre btn_fyra"
	;
}
#btn1{
	grid-area: btn_ett;
	justify-self: center;
}
#btn2{
	grid-area: btn_tva;
	justify-self: center;
}
#correctFraga10{
	grid-area: btn_tre;
	justify-self: center;
}
#btn4{
	grid-area: btn_fyra;
	justify-self: center;
}























section{
	background-color: #336699;
	height: 20vh;
}



